<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h1>Hello, this is a webpage</h1>
    <p>Testing testing</p>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    <form>
        <label>What's your name?</label>
        <input type="text" id="username"><br>
        <button type="button" onclick='doStuff()'>Submit</button>
    </form>
    <button type="button" onclick="getData()">Get Data</button>
    <p id="test"></p>
    

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>